.section1{
    display: flex;
    justify-content: space-evenly;
    background-image: url(../../assets/home/desktop/pattern-circles.svg);
    background-color: #d87d4a;
    background-size: cover;
    background-position: 50%;
    padding-top: 5rem;

    .section1-img-container {
        width: 350px;

        .section1-img {
            width: 100%;
        }
    }

    .aside {
        .aside-title {
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: bold;
            color: #ffffff;
            padding-bottom: 1.5rem;
            letter-spacing: 1.5px;
        }

        .aside-desc {
            padding-bottom: 2.5rem;
            letter-spacing: 1px;
            line-height: 25px;
            color: #ffffff;
            font-weight: bold;
        }
    }
}