.section1{
    display: flex;
    justify-content: space-evenly;
    background-image: url(../../assets/home/desktop/pattern-circles.svg);
    background-color: #d87d4a;
    background-size: cover;
    background-position: 50%;
    padding-top: 3rem;
    border-radius: 5px;

    .section1-img-container {
        width: 350px;

        .section1-img {
            width: 100%;
        }
    }

    .aside {
        .aside-title {
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: bold;
            color: #ffffff;
            padding-bottom: 1.5rem;
            letter-spacing: 1.5px;
        }

        .aside-desc {
            padding-bottom: 2.5rem;
            letter-spacing: 1px;
            line-height: 25px;
            color: #ffffff;
            font-weight: bold;
        }
    }
}

.section2 {
    background-image: url('../../assets/home/desktop/image-speaker-zx7.jpg');
    height: 320px;
    background-size: cover;
    background-position: 50%;
    margin-top: 4rem;
    border-radius: 5px;
    padding-left: 10rem;
    padding-top: 4rem;

    .section2-title {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}