.category-container {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0;
    text-align: center;
    margin-top: 13rem;
    margin-bottom: 10rem;

    .category-item-details {
        background-color: #f1f1f1;
        list-style-type: none;
        border-radius: 5px;
        position: relative;
        height: 250px;
        width: 350px;

        .category-img {
            width: 300px;
            height: 250px;

            .image-item {
                display: block;
                width: 100%;
                position: absolute;
                top: -113px;
            }
        }

        .category-item-name {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            position: relative;
            top: -80px;
    
            .shop-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem 0;

                span {
                    color: #9c9494;
                    margin-right: 10px;
                    font-size: 14px;
                }
            }
        }
    }
}